<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Good job finding me... Now find the flag!!</h1>
    <ul>
        <li>Open Task Manager</li>
        <li>Kill logger</li>
        <li>Never run unknown executables again :)</li>
    </ul>
    <h1>
        About your keys...Nobody is ever going to see them, chill out a go back to your life.
        They get deleted periodically.
    </h1>
</body>
</html>